.center {

    color:white;
}

.center-head {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17px;
    height: 60px;
    position: fixed;
    background-color: black;
    width: 519px;
    margin-top: -0px;
   
    
}