.login {

    display: flex;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.input input {

   
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 20px;

}

.input {

    padding: 5px;
}

.btn {

 
    margin-top: 5px;
}

.btn button {

    padding: 20px 160px;
    border-radius: 30px;
    outline: none;
    background-color: grey;
    border: none;
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border:1px solid red;
}

.error-log{

    line-height: 1px;
    text-align: left;
    margin-left: 165px;
    color: red;

}