<div class="login">

 <form (ngSubmit) = "onSubmit(f)"   #f = "ngForm">

  
    <div>
        <h2>Login To Twitter</h2>
    </div>
   <p class="error-display" *ngIf ="error">{{ errorMessage }}</p>
   <div class="input">  
        <input type="email" placeholder="Email" ngModel  name = "email" required email #mail = "ngModel"/>
        <p class="error-log" *ngIf = "!mail.valid && mail.touched">Please Enter a valid Email</p>
      
   </div>

   <div class="input">
         <input type="password" placeholder="Password" ngModel name ="password" required password #pass = "ngModel"/>
         <p class="error-log" *ngIf = "!pass.valid && pass.touched" >Please Enter a valid Password</p>
    </div>
    <div class="btn">  
        <button type="submit" [disabled] = "!f.valid">
            Login
        </button>
    </div>

</form> 


  
</div>
