<div class="right"> 
    
    <div>
        <div class="trends">
            <div>
                <div class="header">
                    <div> 
                        <h2>who to follow</h2>
                    </div>
                  
                   
                   
                </div>
             
            </div>
            <div *ngFor ="let follow of  allFollows">
                <div class="sub-trends">
                
                    <div class="image">
                        <img src= {{follow.img}}/>
                        <div class="handle">
                            <h3>{{ follow.name}}</h3>
                            <p> @ {{ follow.handle}} </p>
                        </div>
                    </div>
                    <div class="follow">
                         follow
                    </div>
                </div>           
            </div>
            <div class="more">
                Show More
            </div>

            
        </div>
        
    </div>
</div>

