.left{
    color:white;
    display: grid;
    align-self: start;
    justify-content: center;
    height: 100%vh;
  
    
}

.icon {

    padding : 15px;
    font-size: 20px;
}

.tweet {
    display: grid;
    background-color: gray;
    padding: 20px 100px;
    justify-content: center;
    border-radius: 30px;
}

.profile {

    margin-top: 150px;
    display: flex;
    padding: 7px;
   

}

.profile img {

    width: 50px;
    border-radius: 50%;
    margin-right: 7px;

}

.profile p {

    line-height: 0px;
}
.profile-icon {

    margin-left: 70px;
    margin-top: 16px;
   
}

.profile:hover {

    background-color:  grey;
    border-radius:  35px;
  
}

.menu:hover {

    background-color: grey;
    border-radius: 10px;

}

.twitter{

    font-size: 50px;
    margin-left: 13px;
}


