<div class="left">
    <div>
        <div>
             <h2><span class="icon"><i class="fa fa-home"> </i> </span>Home</h2>
        </div>
        <div>
            <h2> <span class="icon"><i class="fa fa-hashtag"></i></span>Explore  </h2> 
        </div>
        <div>
            <h2><span class="icon"><i class="fa fa-bell"></i></span>Notification </h2> 
        </div>
        <div>
            <h2><span class="icon"><i class="fa fa-envelope"></i></span>Message </h2>
        </div>
        <div>
            <h2> <span class="icon"><i class="fa fa-bookmark"></i></span>Booksmark</h2>
        </div>
        <div>
            <h2> <span class="icon"><i class="fa fa-list-ul"></i></span>Lists</h2>
        </div>
        <div>
             <h2><span class="icon"><i class="fa fa-user"></i></span>Profile</h2>
        </div>
        <div>
            <h2><span class="icon"><i class="fa fa-folder-open"></i></span>More</h2>
        </div>

        <div class="tweet">
            Tweet
        </div>
    </div>
</div>



