<div class="right"> 
    <div class="search">
        <input placeholder="Search Twitter"/>
        <div class="search-icon"><i class="fa fa-search"></i></div>
    </div>
    <div>
        <div class="trends">
            <div>
                <div class="header">
                    <div> 
                        <h2>Nigeria Trends</h2>
                    </div>
                    <div class="setting">
                        <i class="fa fa-cog"></i>
                       
                    </div>
                   
                   
                </div>
             
            </div>
            <div>
              <div *ngFor = "let trend of allTrends; index as i">
                <div class="sub-trends">
                    <div class="">
                        <h4>{{i+1}} - Trending</h4>
                        <h3># sslsjlcjlscjl</h3>
                        <p>38.6k Tweets</p>
                    </div>
                    <div>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>

                </div>
              </div>
              
             
                

            </div>
            <div class="more">
                Show More
            </div>

   
           
         
         
            
        </div>
        
    </div>
</div>

