.right{

    color:white;
  

}

.trends {

    line-height: 3px;
  
    background-color: grey;
    border-radius: 25px;
    margin: 5px;


   
 
}
.setting{

    margin-top: 10px;
}

.sub-trends{

    display: flex;
    justify-content: space-between;
    border-top: 0.3px solid white;
    padding: 15px;
}

.trends h4, p {
    color:white;
    font-size: 13px;
    font-weight: lighter;
}
.header {

    display: flex;
    justify-content: space-between;
    padding: 15px;
   
}
.search {

    display: flex;
    justify-content: center;
    margin-top: 8px;
    position: relative;
    margin-bottom: 15px;
 
}

.search input {

    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    border-radius: 25px;
    border: 0px;
    outline: none;
    font-size: 20px;
    font-weight: lighter;

}

.search-icon {

    position: absolute;
    color: black;
    left: 30px;
    top: 13px;
    font-size: 25px;
}


.more{
    padding: 25px;
    border-top: 0.3px solid white;
    padding-left: 15px;
}