.center-section1{
   
    color:  white;
    margin-top: 60px;
    height: 100%;
    overflow-y: auto;
    
}

.header img {

    width: 80px;
    padding: 0px 15px;
    border-radius: 50%;
}
.header{
    display: flex;
}
.input-text textarea {

    /* padding-right:  250px;
    padding-bottom: 40px; */
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    max-height: auto;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 90px;
    padding-left: 20px;
 
    
   
}

.input-text{
    border-bottom: 1px solid white;
}
.tweet{
    display: flex;
    margin-right: 40px;
    margin-top: 10px;
  
  
  
}
.center-sub {

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px 0px;

}
.tweet button {

    background-color: grey;
    margin-left: auto;
    padding: 10px 25px;
    border-radius: 35px;
    font-weight: bolder;
    outline: none;


}

.tweet-box {

    display: flex;
    padding: 0px;
    margin-top: 15px;
   align-content: center;
   border-top: 1px solid white;
   padding-top: 20px;
   
}

.img-box{

   
    margin-right: 10px;
    width: 100px;



}
.img-box img{
    width: 80px;
    padding: 0px 15px;
    border-radius: 50%;

}

.name-tag span {
 
    padding: 3px;
 
   
   


 
}
.name-tag{
    margin-top: 10px;
}

.sub{

    font-weight: lighter;
    color: lightgray;
}

.sub1{
  margin-right: 10px;

}

.tweet-block img{
   
    width: 91%;
    border-radius: 25px;

}

.icon {

    margin-right: 35px;
}

.icon i {


    padding: 6px;
   

}

.icon i:hover{

  
    background-color: grey;
    border-radius: 50%;
    color: red;
}